.infoContainer {
	margin: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.category,
.shortDescription,
.size,
.beds,
.price {
	font-size: 1.2rem;
	font-weight: 500;
}

.description {
	font-size: 1rem;
	line-height: 1.6;
}

.amenities {
	list-style-type: none;
	padding: 0;
}

.amenities li {
	display: inline-block;
	background-color: #f4f4f4;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 5px;
	font-size: 0.9rem;
	color: #555;
}

.price {
	color: #27ae60;
	font-size: 1.4rem;
	font-weight: bold;
}

@media (max-width: 768px) {
	.infoContainer {
		margin-top: 20px;
	}
}
