.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 700px;
}
.container h2 {
	font-size: 2rem;
}
.featureCards {
	display: grid;
	grid-template-columns: repeat(3, 0fr);
	grid-template-rows: repeat(2, 0fr);
	gap: 10px;
	margin: 10px 29px 0px 29px;
	justify-content: center;
	justify-items: center;
}
