.bookRoomContainer {
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	display: flex;
	width: 100%;
	height: 200px;
	background: #61564c;
}
.textBookRoom {
	font-family: Georgia, serif !important;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.1;
	color: white;
	margin: 20px;
}
