.containerDetails {
	display: flex;
	gap: 30px;
	align-items: center;
}

.containerDetails img {
	max-width: 40%;
	border-radius: 8px;
	height: auto;
}

.infoContainer {
	margin: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.infoContainer input {
	font-size: 1rem;
	line-height: 1.6;
}
@media (max-width: 768px) {
	.containerDetails {
		flex-direction: column;
	}
	.infoContainer {
		margin-top: 20px;
	}
}
