.infoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 227px 227px 100px 227px;
	position: relative;
}
@media (max-width: 1000px) {
	.infoContainer {
		height: 1213px;
		flex-direction: column;
		padding: 10px;
	}
}
