.adminContent {
	margin-top: 45px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.archiveList {
	cursor: pointer;
	padding: 12px 20px;
	background: #0b0e14;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border-radius: 8px;
	transition:
		background 0.3s,
		transform 0.2s;
	display: inline-block;
	margin-top: 77px;
	user-select: none;
}

.archiveList:hover {
	background: rgb(25, 37, 48);
	transform: scale(1.05);
}

.archiveList:active {
	transform: scale(0.98);
}
