.logoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px 0px 0px 121px;
	width: 77px;
	height: 77px;
	border-radius: 50%;
	cursor: pointer;
	transition:
		transform 0.3s ease,
		background-color 0.3s ease;
}

.logoContainer:hover {
	transform: scale(1.1);
}

.logo {
	font-size: 71px;
	font-weight: bold;
	color: #d4d4d4;
	transition: transform 0.3s ease;
}

.logoContainer:hover .logo {
	transform: translateY(-5px);
}

.textHotel {
	font-weight: 600;
	font-size: 21px;
	color: #d4d4d4;
}
